.Template {
    display: flex;
    flex-direction: row;
    position: relative;
}

.BackgroundImage {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.LeftMenu {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0.85rem;
    margin-left: 1.5rem;
    width: 15rem;
}

.Logo {
    padding-bottom: 1rem;
    border-bottom: solid #FFFFFF 0.1rem;
    width: 75%;
    height: auto;
}

.MainContent {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2.25rem 2rem;
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    width: 45rem;
}

.MainContent h2 {
    margin-top: 0;
}